/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;


.scroll-bar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    transition-duration: 500ms;
    background-color: #A1A1AA;
}



